<%-include("header")-%>

<h1>Hello, this cool to-do-list is from Gaurav Singh</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis culpa accusamus totam non assumenda, hic quaerat animi facilis laborum. Hic, perspiciatis praesentium? Consequatur facilis, non optio maxime nostrum explicabo. Nemo.</p>
<%-include("footer")-%>